@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Poppins:wght@500;700&family=Raleway:wght@400;500;700&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}
h1 {
  font-family: 'Poppins',sans-serif;
}
h1 span {
  color: whitesmoke;
}
.home-screen h3 {
  font-family: 'Raleway', sans-serif;
  color: #2C1F2A;
}

/* Home Section */
main {
  height: 100vh;
  width: 100vw;
  
}
main>img {
  width: 100%;
  height: 100%;
}
article div {
  height: 50%;
}
article h3 {
  color: #d6d2d6
}
.main-img {
  width: 75%;
}
.btn {
  background-color: #211F1C;
  color: whitesmoke;
  padding: 0.5rem 0.6rem;
  border-radius: 5px;
  width: 100px;
}

.my-orders .btn {
  width: 60px;
  padding: 0.3rem 0.4rem;
}
.glass-container {
  width: 95vw;
  height: 80%;
  margin: auto;
  min-height: 460px;
  z-index: 100;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.17);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(11px);
  border-radius: 10px;
}
form.glass-container{
  max-width: 500px;
  min-width: 250px;
}
.underline {
  height:3px;
}
.circle {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 100%;
  z-index: -5;
}
.circle:nth-child(3) {
  background: rgba(43, 51, 226, 0.62);
}
.circle:nth-child(2) {
  background: rgba(255, 88, 35, 0.62);
}
.form-container {
  height: min-content;
  z-index: 50;
}
.login-screen .circle {
  right: 20%;
}
.login-screen .circle:nth-of-type(2) {
  left:5%
}
label {
  width: 60%;
}
form input {
background: rgba(202, 230, 255, 0.47);
width: 60%;
border-radius: 5px;

}
nav {
  z-index: 1000;
}
nav ul {
  max-width: 400px;
  font-family: "poppins", sans-serif;
}

.main-section div {
  height:min-content;
  top:25%;
  bottom: 0;
  background-color: rgba(245, 245, 245, 0.459);
  left: 35%;
}

.main-bg {
  max-height: 80vh;
}


.features {
  height: 100%
}
.triangle-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 225, 198, 0.6);
  z-index: -1;
  clip-path: polygon(0 0, 0% 100%, 65% 50%);
}

.product-img {
  max-height: 150px;
}

.product {
  backdrop-filter: blur(15px);
  transition: transform 0.4s ease;
}
.product:hover {
  transform: scale(1.2);
}
.product-screen .circle:nth-child(3) {
  background: rgba(37, 34, 145, 0.63);
  right: 10%;
  bottom: 5%;
}

.product-screen .circle:nth-child(4) {
  background: rgba(177, 22, 97, 0.58);
  left: 10%;
  bottom: 25%;
}

.product-screen img {
  max-height: 300px;
}
.product-screen {
  font-family: 'Poppins', sans-serif;

}


.product-screen .btn {
  width: 50px;
}
.product-screen h2 {
  color: #364547;
}
.product-screen p {
  color: #2E2727;
  line-height: 1.5rem;
}
.login-screen {

  height: 92vh;
  overflow: hidden;
}
.login-screen img {
  z-index: -1000;
  height: 100%;
}

.cart-icon {
  top: 50%;
  right: 0;
}

.skin-bg {
  z-index: -1;
  background-color: #FACFC6;
  clip-path: polygon(0 0, 40% 23%, 40% 80%, 0% 100%);
}

.shipping-screen .skin-bg {
  z-index: 0;
}

.disable {
  cursor: not-allowed;
  opacity: 0.5;

}

.placeorder {
  font-family: "Montserrat", sans-serif;
}
.placeorder .circle{
  z-index: 0;
}

.placeorder .circle:nth-of-type(2){
  background: #7A77F2;
  left: 15%rem;
  top: 10%

}

.placeorder .circle:nth-of-type(3){
  background: rgba(212, 81, 233, 0.65);
  right: 15%;
  bottom: 40%;

}

.placeorder .circle:nth-of-type(4){
  background: rgba(81, 124, 233, 0.77);
  left: 15%;
  bottom: 10%;
}

.profile-screen .skin-bg {
  z-index: 0;
}

.profile-screen .circle {
  z-index: 5;
}
.profile-screen .circle:nth-of-type(3) {
  background: rgba(212, 81, 233, 0.65);
  right: 15%;
  bottom: 15%;
}
.information h2 {
  color: #251B1B;
}
.information p {
  color : #251F30
}
.summary ul {
  width: 70%;
  margin: 0 auto;
}

.orderstatus {
  background-color: #a298f8;
}
.specials img {
  width: 100%;
  z-index: -50;
}
.specials {
  font-family: "Poppins", sans-serif;
}
.specials article span {
  color: #F59945;
}

.specials .circle:nth-of-type(2) {
  background:#ED9442;
  top: 15%;
  left: 10%;
}
.specials .circle:nth-of-type(3) {
  background:#F381F5;
  bottom: 10%;
  right: 10%;
}
hr {
  opacity: 0.25;
}
.specials article img {
  width: 50%;
}

.specials article p {
  width: 60%;
}

.features-section article img {
  border-radius: 100%;
  width: 80%;
}
.features-section .glass-container {
  z-index: 5;
  height: max-content;
  margin: auto 0;
  width: 100%;
}
.features-section .glass-container div {
  max-width: 600px;
  margin: 0 auto;
}
.features-section {
  background-color: #F9F7F7;
  z-index: 50;
  width: 95%;
  margin: 0 auto;
}
.features-section h1,h2 {
  color: #362B3F;
}
.features-section .circle {
  z-index: -1;
}
.features-section .circle:nth-of-type(2) {
  background:#ED9442;
  top: 10%;
  left: 25%;
}
.features-section .circle:nth-of-type(3) {
  position: absolute;
  bottom: 20%;
  right: 25%;
}

.products .circle:nth-of-type(2), .products .circle:nth-of-type(3) {
  background: rgba(37, 34, 145, 0.63);
 
  z-index: 0;
}

.products .circle:nth-of-type(2){
  top: 15%;
  left: 15%;
}
.products .circle:nth-of-type(3) {
  right: 20%;
  bottom: 10%;
}
.products .circle:nth-of-type(4), .products .circle:nth-of-type(5) {
  background: rgba(25, 177, 22, 0.58);
  z-index: 0;
}

.products .circle:nth-of-type(4) {
  top: 35%;
  right: 15%;
}
.products .circle:nth-of-type(5) {
  bottom: 35%;
  left: 25%;
}

.product-screen .circle:nth-of-type(2){
  bottom: 10%;
  right: 15%;
}

.product-screen .circle:nth-of-type(3){
  bottom: 10%;
  left: 25%;
}

.cart-screen img {
  z-index: -5;
}
.cart-screen .btn {
  width: 150px;
}
.cart-screen .circle:nth-of-type(2) {
  background: #ED9442;
  top: 20%;
  left: 10%;
}
.cart-screen .circle:nth-of-type(3) {
  background: rgba(25, 177, 22, 0.58);
  bottom: 20%;
  right: 15%;
}
.product-item h3 {
  color: #221C31;
}
.carticon {
  animation: cartAnimation 2s ease infinite;
}

@media (max-width : 640px) {
  main {
    height: 85vh;
  }
  .main-section div {
    top: 20%;
    left: 30%;
  }

  .glass-container {
    height: max-content;
    margin-top: 4rem;
  }
  
  .main-img {
    max-width: 50%;
    margin: 1rem auto;
  }
  .btn {
    margin: 1rem auto;
  }
  .home-screen section {
    margin: auto 0;
    height: 60%;
  }
  .home-screen article{
    height: 100%;
    text-align: center;
  }

  .specials article img {
    width: 60%;
  }
  .specials article p {
    width: 60%;
  }
  .specials .glass-container {
    margin-top: 1rem;
  }

  .features-section .circle:nth-of-type(3) {
    position: absolute;
    bottom: 5%;
    right: 5%;
  }

  .product-screen .glass-container {
    height: 100%;
  }

  .product-screen .circle:nth-of-type(3){
    bottom: 35%;
    left: 5%;
  }
  
  nav ul {
    width: 100%;
    font-family: "poppins", sans-serif;
  }
}

@keyframes productScreen {
  from {transform:  translateX(100%);}
  to {transform: translateX(0);}
}

@keyframes cartAnimation {
  0% {
    transform: translateY(0) translateX(-50%);
  }
  25% {
    transform: translateY(-50%) translateX(0);
  }
  50% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translateY(0) translateX(50%);
  }
}
