@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Poppins:wght@500;700&family=Raleway:wght@400;500;700&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --bg-primary : #F9F9F9;
  --secondary: #F59945;
  --primary: #364547;
  --gray : #7A7A7A;
  --lightgray : #746F6F;
}
body {
  background-color: var(--bg-primary);
  overflow-x: hidden;
}
h1 {
  font-family: 'Poppins',sans-serif;
}
h3 {
  font-family: 'Raleway', sans-serif;
}
.logo {
  color: var(--primary);
  font-family: "Poppins", sans-serif;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Home Section */
main {
  height: 100vh;
  width: 100vw;
  
}
main>img {
  width: 100%;
  height: 100%;
}
article div {
  height: 50%;
}
article h3 {
  color: #d6d2d6
}
.main-img {
  width: 75%;
}
.btn {
  background-color: #211F1C;
  color: whitesmoke;
  padding: 0.5rem 0.6rem;
  border-radius: 5px;
  width: 100px;
}
.glass-container {
  width: 95vw;
  height: 80%;
  margin: auto;
  min-height: 460px;
  z-index: 100;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.17);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(11px);
  border-radius: 10px;
}
form.glass-container{
  max-width: 500px;
  min-width: 250px;
}
.underline {
  height:3px;
}
.circle {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 100%;
  z-index: -5;
}
.circle:nth-child(3) {
  background: rgba(43, 51, 226, 0.62);
  left: 5rem;
  top: 14rem;
}
.circle:nth-child(2) {
  background: rgba(255, 88, 35, 0.62);
  right: 25%;
  top: 5rem;
}
.form-container {
  height: min-content;
  z-index: 50;
}
.login-screen .circle {
  right: 20%;
}
.login-screen .circle:nth-of-type(2) {
  left:5%
}
label {
  width: 60%;
}
form input {
background: rgba(202, 230, 255, 0.47);
width: 60%;
border-radius: 5px;

}
nav {
  z-index: 1000;
}
nav ul {
  max-width: 400px;
  font-family: "poppins", sans-serif;
}

.main-section div {
  height:min-content;
  top:25%;
  bottom: 0;
  background-color: rgba(245, 245, 245, 0.459);
  left: 35%;
}

.main-bg {
  max-height: 80vh;
}

.nav-bg {
  background-color: var(--secondary)
}

.features {
  height: 100%
}
.triangle-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 225, 198, 0.6);
  z-index: -1;
  clip-path: polygon(0 0, 0% 100%, 65% 50%);
}

.product-bg {
  border-radius: 1.5rem;
  background: linear-gradient(180deg, #FAF4F4 2.01%, #F5F1F1 97.77%);

}

.product-img {
  max-height: 150px;
}


.product-screen {
  min-height: 75vh;
  width: 90%;
  box-shadow: 0px 0px 12px 0px rgba(133,123,123,0.75);
  animation: productScreen 0.3s ease-in-out forwards;
}
.product-screen img {
  max-height: 300px;
}
.product-screen footer {
  font-family: 'raleway', sans-serif;

}
.login-screen {

  height: 92vh;
  overflow: hidden;
}
.login-screen img {
  z-index: -1000;
  height: 100%;
}

.cart-icon {
  top: 50%;
  right: 0;
}
form {
  min-height: 320px;
  background: #EEEEEE;
  box-shadow: 0px 4px 10px 2px rgba(86, 72, 72, 0.25);

}


.skin-bg {
  z-index: -1;
  background-color: #FACFC6;
  clip-path: polygon(0 0, 40% 23%, 40% 80%, 0% 100%);
}

.shipping-screen .skin-bg {
  z-index: 0;
}

.disable {
  cursor: not-allowed;
  opacity: 0.5;

}

.placeorder {
  font-family: "Montserrat", sans-serif;
}
.placeorder .circle {
  z-index: 0;
}

.placeorder .circle:nth-of-type(2){
  background: #7A77F2;
  left: 15%rem;
  top: 10%

}

.placeorder .circle:nth-of-type(3){
  background: rgba(212, 81, 233, 0.65);
  right: 15%;
  bottom: 40%;

}
.placeorder .circle:nth-of-type(4){
  background: rgba(81, 124, 233, 0.77);

  left: 15%;
  bottom: 10%;

}

.information h2 {
  color: #251B1B;
}
.information p {
  color : #251F30
}
.summary ul {
  width: 70%;
  margin: 0 auto;
}

@media (max-width : 600px) {
  main {
    height: 85vh;
  }
  .main-section div {
    top: 20%;
    left: 30%;
  }
  
}

@keyframes productScreen {
  from {transform:  translateX(100%);}
  to {transform: translateX(0);}
}